# 8 input features, 2 hidden layers (5 nodes in each) and one output layer

In [123]:
import keras
from keras.models import Sequential
from keras.layers import Dense
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [124]:
model = Sequential()

In [125]:
data = pd.read_csv('E:\Online Courses, Internship and more\edX\\Concrete.csv')

In [126]:
#n_cols = data.shape[1]
#temp = n_cols-1

In [127]:
model.add(Dense(5,activation='relu',input_shape=(8,))) #first hidden layer(5 nodes), 8 = number of input features

In [128]:
model.add(Dense(5,activation='relu')) #second hidden layer(5 nodes)

In [129]:
model.add(Dense(1)) #output layer

In [130]:
#Separating independent and dependent variables
x = data.drop(['csMPa'],axis=1)

In [131]:
y = data['csMPa']

In [132]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [133]:
model.compile(optimizer='adam',loss='mean_squared_error') # in adam optimizer, we don't have to specify the learning rate as in gradient descent

In [146]:
model.fit(x_train,y_train)

Epoch 1/1
824/824 [==============================] - 0s 45us/step - loss: 970.0616

In [26]:
x_train.shape

(824, 8)

In [27]:
y_train.shape

(824,)

In [28]:
x_train.head()

,cement,slag,flyash,water,superplasticizer,coarseaggregate,fineaggregate,age
536,393.0,0.0,0.0,192.0,0.0,940.6,785.6,28
812,310.0,0.0,0.0,192.0,0.0,970.0,850.0,90
19,475.0,0.0,0.0,228.0,0.0,932.0,594.0,180
542,255.0,0.0,0.0,192.0,0.0,889.8,945.0,90
325,252.3,0.0,98.8,146.3,14.2,987.8,889.0,14

In [75]:
y_train.head()

954    13.46
120    56.70
449    35.85
438    41.41
48     26.26
Name: csMPa, dtype: float64

In [147]:
predictions = model.predict(x_test)

In [148]:
predictions

array([[ 47.12589   ],
       [ 32.89206   ],
       [ 40.22632   ],
       [ 25.97275   ],
       [ 37.501354  ],
       [ 38.19819   ],
       [ 36.487095  ],
       [ 35.069195  ],
       [ 48.802814  ],
       [ 42.360424  ],
       [  2.9503284 ],
       [ 30.458088  ],
       [ 40.829353  ],
       [ 38.607517  ],
       [-18.331558  ],
       [ 35.409664  ],
       [ 31.109053  ],
       [ 43.409996  ],
       [ 27.863693  ],
       [ 19.881334  ],
       [ 51.464508  ],
       [ 37.18753   ],
       [ 16.72617   ],
       [-31.269718  ],
       [ 35.052544  ],
       [ 38.603924  ],
       [ 38.373768  ],
       [ 40.72403   ],
       [ 50.062042  ],
       [ 41.10658   ],
       [ 19.071129  ],
       [-12.966956  ],
       [ 28.270823  ],
       [ 49.720097  ],
       [  2.0414014 ],
       [-15.282008  ],
       [ 51.49995   ],
       [ 22.243275  ],
       [ 48.141235  ],
       [ 39.32484   ],
       [ 39.105785  ],
       [ 36.26913   ],
       [ 24.267658  ],
       [ 42.55027   ],
       [ 41.735874  ],
       [ 39.68546   ],
       [ 40.12627   ],
       [ 43.9959    ],
       [ 42.753777  ],
       [ 50.333046  ],
       [ 19.53718   ],
       [ 32.17584   ],
       [ 40.088562  ],
       [ 48.75526   ],
       [ 38.210293  ],
       [ 22.60653   ],
       [ 39.585514  ],
       [ 34.942284  ],
       [ 35.37715   ],
       [-32.556385  ],
       [ 31.79918   ],
       [ 43.789703  ],
       [ 53.313686  ],
       [  6.280849  ],
       [ 50.266895  ],
       [ 32.888252  ],
       [ 52.793095  ],
       [ 16.418976  ],
       [ 36.526928  ],
       [ 37.8763    ],
       [ 36.13074   ],
       [ 13.324233  ],
       [ 19.128487  ],
       [ 33.696186  ],
       [ 45.03509   ],
       [ 53.0212    ],
       [ 20.733791  ],
       [ 49.569878  ],
       [ 38.176647  ],
       [ 34.988796  ],
       [ 37.969856  ],
       [ 42.667797  ],
       [ 35.00621   ],
       [ 32.845257  ],
       [ 42.568325  ],
       [ 48.11683   ],
       [ 27.296469  ],
       [ 43.836304  ],
       [ 17.650326  ],
       [ 27.089085  ],
       [ 46.880783  ],
       [ 21.621153  ],
       [ 30.919926  ],
       [ 36.845135  ],
       [ 36.104633  ],
       [ 43.165203  ],
       [ 36.738953  ],
       [ 15.821982  ],
       [ -8.890849  ],
       [  4.2263217 ],
       [ 49.02408   ],
       [ 36.222218  ],
       [ 39.602757  ],
       [ 24.744959  ],
       [  8.829053  ],
       [ 21.533438  ],
       [ 47.890785  ],
       [ 40.88588   ],
       [ 47.003746  ],
       [ 37.82946   ],
       [ 36.38682   ],
       [ 42.9115    ],
       [ 37.863663  ],
       [ 29.432198  ],
       [ 36.38682   ],
       [ 40.80562   ],
       [ 16.661816  ],
       [ 38.289238  ],
       [-18.958447  ],
       [  1.7313532 ],
       [ 42.6537    ],
       [ 30.012562  ],
       [  9.871905  ],
       [ 30.697187  ],
       [ 26.003925  ],
       [ 28.734644  ],
       [ 37.51384   ],
       [ 27.333706  ],
       [ 24.672915  ],
       [ 33.221226  ],
       [ 31.355707  ],
       [ 48.435776  ],
       [-27.398033  ],
       [ 50.96929   ],
       [ 33.301395  ],
       [ 32.803104  ],
       [ 37.681408  ],
       [ 39.522144  ],
       [ 39.012043  ],
       [ 52.72755   ],
       [ 42.907402  ],
       [ 44.610645  ],
       [ 33.343235  ],
       [ 27.394955  ],
       [ 27.985691  ],
       [ 15.970344  ],
       [-23.837883  ],
       [ 52.3063    ],
       [ 31.8256    ],
       [ 41.478077  ],
       [ -7.673615  ],
       [ 41.64976   ],
       [ 40.810944  ],
       [ 42.040726  ],
       [ 19.324238  ],
       [-43.93144   ],
       [ 29.850388  ],
       [ 54.19339   ],
       [ 42.043343  ],
       [  0.19805947],
       [ 47.001446  ],
       [ 25.8988    ],
       [ 34.901077  ],
       [ 29.465614  ],
       [ 35.374023  ],
       [ 44.69836   ],
       [ 34.378468  ],
       [ 41.66913   ],
       [ 37.46434   ],
       [ 35.384754  ],
       [ 35.91139   ],
       [ 30.506607  ],
       [ 39.14194   ],
       [ 56.575832  ],
       [ 37.067062  ],
       [ 47.39863   ],
       [ 39.615887  ],
       [ 34.59973   ],
       [ 37.55892   ],
       [ 42.896435  ],
       [ 40.77847   ],
       [ 33.564228  ],
       [ 16.411125  ],
       [ 31.444633  ],
       [ 38.082718  ],
       [ 45.94557   ],
       [ 35.909813  ],
       [ 21.486956  ],
       [ 13.474004  ],
       [ 42.016632  ],
       [ 45.52282   ],
       [ 31.34593   ],
       [ 47.423843  ],
       [-35.458637  ],
       [ 28.97497   ],
       [ 41.364376  ],
       [ 43.827164  ],
       [ 22.763458  ],
       [-36.974293  ],
       [ 38.41669   ],
       [ 27.353884  ],
       [ 26.093405  ],
       [ 34.825752  ],
       [  3.023952  ],
       [  6.2548766 ],
       [ 30.782143  ]], dtype=float32)

In [119]:
y_test

880    12.18
567    11.96
524    59.49
222    28.63
481    61.07
       ...
1      61.89
584    21.92
648    29.89
218    40.39
664    19.35
Name: csMPa, Length: 206, dtype: float64